{% extends 'base.html' %}

{% block content%}
<div id="albums-page">
  <h1>Albums</h1>

  <form action="{% url 'admin-panel:albums-data-search' %}" method="get">
    <input type="text" name="q">
    <button type="submit">Search</button>
  </form>

  <a href="{% url 'albums:album-create' %}"><button id="create-album">Create new album</button></a>

  <table>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Released</th>
      <th>Image</th>
      <th>Duration</th>
      <th>Tracks</th>
      <th>Genres</th>
      <th>Price</th>
      <th></th>
      <th></th>
    </tr>
    {% for album in albums %}
    <tr>
      <td class="title"><a href="{% url 'albums:album-detail' album.pk %}">"{{ album.title }}"</a></td>
      <td class="artist">{{ album.artist }}</td>
      <td class="release-date">{{ album.release_date }}</td>
      <td class="image"><img src="{{ album.image }}"></td>
      <td class="duration">{{ album.duration }}</td>
      <td class="tracks">
        {% for track in album.tracks%}
        "{{track}}"<br>
        {% endfor %}
      </td>
      <td class="genres">
        {% for genre in album.genres.all %}
        {{genre.title}}<br>
        {% endfor %}
      </td>
      <td class="price">{{ album.price }}.00 UAH</td>
      <td class="update-btn"><a href="{% url 'albums:album-update' album.pk %}"><button>Update</button></a></td>
      <td class="delete-btn"><a href="{% url 'albums:album-delete' album.pk %}"><button>Delete</button></a></td>
    </tr>
    {% endfor %}
  </table>

  <div id="pagination">
    {% include 'includes/pagination.html' %}
  </div>

</div>{% endblock content %}