{% extends 'base.html' %}

{% block content%}

<div id="artists-page">
    <h1>Artists</h1>
    <table>
        <a href="{% url 'albums:artist-create' %}"><button id="create-artist">Create new artist</button></a>
        {% for artist in artists %}
        <tr>
            <td class="title">{{ artist.title }}</td>
            <td class="update-btn"><a href="{% url 'albums:artist-update' artist.pk %}"><button>Update</button></a></td>
            <td class="delete-btn"><a href="{% url 'albums:artist-delete' artist.pk %}"><button>Delete</button></a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock content %}