{% extends 'base.html' %}

{% block content%}
<div id="blacklist-page">
    <h1>Blacklist</h1>

    <table>
        {% for user in users %}
        <tr>
            <td class="user">"{{user.username}}"</td>
            <td class="unban">
                <form action="{% url 'orders:user-unban' user.username %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Unban</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}