{% extends 'base.html' %}

{% block content%}
<div id="confirmed-orders-page">
    <h1>Confirmed orders</h1>
    <table>
        <tr>
            <th>User</th>
            <th>Total price</th>
            <th>Ordered albums</th>
            <th>Time</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td class="username">{{ order.user.username }}</td>
            <td class="total-price">{{ order.total_price }}.00 UAH</td>
            <td class="albums">
                {% for album in order.albums.all %}
                {{ album.title }}<br>
                {% endfor %}
            </td>
            <td class="datetime">{{ order.created_at }} </td>
        </tr>
        {% endfor %}
    </table>

    <div id="pagination">
        {% include 'includes/pagination.html' %}
    </div>

</div>
{% endblock content %}