{% extends 'base.html' %}

{% block content%}
<div id="unconfirmed-orders-page">
        <h1>Unconfirmed orders data</h1>
        <div>
            <table>
                <tr>
                    <th>User</th>
                    <th>Total price</th>
                    <th>Paid</th>
                    <th>Ordered albums</th>
                    <th>Time</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                {% for order in orders %}
                <tr>
                    <td>{{ order.user.username }}</td>
                    <td>{{ order.total_price }} грн.</td>
                    <td>{{order.is_paid}}</td>
                    <td>
                        {% for album in order.albums.all %}
                            {{ album.title }}<br>
                            {% endfor %}
                    </td>
                    <td>{{ order.created_at }} </td>
                    <td class="confirm">
                        <form action="{% url 'orders:order-confirm' order.pk %}" method="post">
                        {% csrf_token %}
                        <button {% if not order.is_paid or order.user.is_banned %}
                                disabled=""
                                {% endif %}
                        >Confirm order</button>
                        </form>
                    </td>
                    <td class="discard">
                        <form action="{% url 'orders:order-discard' order.pk %}" method="post">
                            {% csrf_token %}
                            <button {% if order.is_paid  %}
                            disabled=""
                            {% endif %}>
                                Discard order
                            </button>
                        </form>
                    </td>
                    <td class="ban">
                        <form action="{% url 'orders:user-ban' order.user.username %}" method="post">
                        {% csrf_token %}
                        <button {% if order.user == request.user or order.user.is_banned or order.is_paid%}
                        disabled=""
                        {% endif %}>
                            Ban user
                        </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}        
            </table>
        </div>
        
        <div>
            {% include 'includes/pagination.html' %}
        </div>
    
</div>
{% endblock content %}