<div class="album">
    <h1>{{ album.title }}</h1>
    <h2>{{ album.artist.title }}</h2>
    <p><strong>Price:</strong> {{ album.price }} грн.</p>
    <p><strong>Release Year:</strong> {{ album.release_date }}</p>
    <p><strong>Genres:</strong>
        {% for genre in album.genres.all %}
        {{ genre.title }}
        {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p><strong>Duration:</strong> {{ album.duration }}</p>
    <img src="{{ album.image }}" alt="{{ album.title }} cover image">
    <h3>Tracks:</h3>
    <ol>
        {% for track in album.tracks %}
        <li>{{ track }}</li>
        {% endfor %}
    </ol>
</div>