{% extends "base.html" %}

{% block content %}
<div>
    {% include 'includes/sidebar.html' %}
    <div id="albums-list">
        {% for album in albums %}
        <div class="album">
            <a href="{% url 'albums:album-detail' album.pk %}">
                <img src="{{ album.image }}" alt="{{ album.title }}" class="album-image">
                <h3 class="album-title">{{ album.title }}</h3>
            </a>
            <p class="album-artist">{{ album.artist.title }}</p>
            <p class="album-price">Price: <span class="price">{{ album.price }} UAH</span></p>
        </div>
        {% endfor %}
        {% include 'includes/pagination.html' %}
    </div>
</div>

{% endblock content %}