{% extends "base.html" %}

{% block content %}

<div id="album-page">
    <div id="album-image">
        <img src="{{ album.image }}" alt="{{ album.title }} cover image">

    </div>

    <div id="album-info">
        <h1>{{ album.title }} ({{ album.release_date }})</h1>
        <h2>{{ album.artist.title }}</h2>
        <p class="genres">
            {% for genre in album.genres.all %}
            <span class="genre">{{ genre.title }}</span>
            {% endfor %}
        </p>
        <p class="duration"><strong>Duration:</strong> {{ album.duration }}</p>
        <p class="tracks"><strong>Tracks:</strong></h3>
        <ol>
            {% for track in album.tracks %}
            <li>{{ track }}</li>
            {% endfor %}
        </ol>
        <p class="price"><strong>Price:</strong> {{ album.price }}.00 UAH</p>

        <div id="album-cart">
            {# Check if this item is already in cart#}
            {% if cart_item %}
            <a href="{% url 'orders:cart' %}">
                <button {% if not request.user.is_authenticated %} disabled="" {% endif %}>
                    View in cart
                </button>
            </a>
            {% else %}
            <form action="{% url 'orders:cart-item-create' %}" method="post">
                {% csrf_token %}
                {# Passing album primary key in POST request#}
                <input type="hidden" name="album_pk" value="{{ album.pk }}">

                <div>
                    <input type="number" min="1" name="quantity" max="1000" value="1">
                    <button type="submit" {% if not request.user.is_authenticated %} disabled="" {% endif %}>Add to cart</button>
                    {% if not request.user.is_authenticated %}
                    <p>You have to log in to buy this album</p>
                    {% endif %}
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}