{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
<div id="cart-page">
    <h1>Your сart</h1>
    {% if not cart_items %}
    <h2>Your cart is empty</h2>
    {% else %}
    <table>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td class="image"><img src="{{ item.album.image }}"></td>
                <td class="album"><a href="{% url 'albums:album-detail' item.album.pk %}">{{ item.album.title }}</a></td>
                <td class="artist">{{ item.album.artist }}</td>
                <td class="price">{{ item.album.price }}.00 UAH</td>
                <td class="quantity">{{ item.quantity }}</td>
                <td class="remove">
                    <form action="{% url 'orders:cart-item-remove' %}" method="post">
                        <input type="hidden" name="item_pk" value="{{ item.pk }}">
                        {% csrf_token %}
                        <button>Remove from cart</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Total price:
        {% with total_price=cart_items|calculate_total %}
        <b>{{ total_price }}.00 UAH</b>
    </h2>
    <form action="{% url 'orders:order-create' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="total_price" value="{{ total_price }}">
        <button id="order" type="submit" {% if unpaid_order %} disabled="" {% endif %}>
            Make an order</button>
        {% if unpaid_order %}
        <p style="color: red">You can't make new orders until you pay for the previous one</p>
        {% endif %}
    </form>
    {% endwith %}
    {% if unpaid_order %}
    <h2>Unpaid order: </h2>
    <a href="{% url 'orders:order-pay' unpaid_order.first.pk %}">Order</a>
    {% endif %}
    {% endif %}

</div>
{% endblock content %}