@font-face {
    font-family: Playfair Display;
    src: url("fonts/PlayfairDisplay/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
    font-family: Montserrat;
    src: url("fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
@font-face {
    font-family: Philosopher, serif;
    src: url("fonts/Philosopher/Philosopher-Regular.ttf");
}
@font-face {
    font-family: Caveat, cursive;
    src: url("fonts/Caveat/Caveat-VariableFont_wght.ttf");
}

body {
    background: url("images/bg.jpg") no-repeat fixed;
    background-size: cover;
    margin-top: 100px;
    font-family: Montserrat, sans-serif;
}

header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(25,13,5,1), rgba(25,13,5,.5));
    font-family: Playfair Display, serif;
    color: antiquewhite;
}
header div {
    box-sizing: border-box;
    height: 100px;
    text-align: center;
}
header div#header-logo {
    float: left;
    box-sizing: border-box;
    width: 20%;
    height: 100px;
    text-align: center;
    font-size: 3em;
    line-height: 2;
    font-weight: bolder;
}
header div#header-logo a {
    text-decoration: none;
}
header div#header-logo:hover {
    background: rgba(250, 235, 215, .2);
}
header div#header-signup, header div#header-login {
    float: right;
    width: 10%;
    height: 100px;
    font-size: 1.5em;
    line-height: 4em;
    text-align: center;
}
header div#header-signup:hover, header div#header-login:hover {
    background: rgba(250, 235, 215, .2);
}
header div#header-logged {
    float: right;
    font-size: 1.2em;
    width: 17.5%;
    text-align: center;
}
header div#header-cart {
    text-align: left;
    width: 15%;
    float: right;
    font-size: 2.5em;
    line-height: 2.5em;
}
header div#header-cart:hover {
    background: rgba(250, 235, 215, .2);
}
header div#header-cart img {
    height: 80px;
    display: block;
    margin-top: 10px;
    float: left;
}
header div#header-admin-panel {
    float: right;
    text-align: center;
    width: 15%;
    font-size: 1.5em;
    line-height: 4;
}
header div#header-admin-panel:hover {
    background: rgba(250, 235, 215, .2);
}
header a {
    color: antiquewhite;
}



div#sidebar {
    float: left;
    width: 20%;
    margin: 15px 2.5%;
    background-color: antiquewhite;
    box-shadow: 5px 5px 10px #000;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px;
}
div#sidebar hr {
    margin: 45px 0;
    border: 2px solid rgb(25,13,5);
    border-radius: 2px;
}
div#sidebar form#form-search input {
    border: 2px solid rgb(25,13,5);
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 20px;
    height: 36px;
    width: 60%;
}
div#sidebar form#form-search button {
    float: right;
    font-family: Montserrat;
    font-size: 20px;
    height: 36px;
    width: 35%;
    font-weight: bolder;
    background: antiquewhite;
    border: 2px solid rgb(25,13,5);
    border-radius: 5px;
}
div#sidebar form#form-search button:hover {
    cursor: pointer;
    background-color: #fae9c0;
}
div#sidebar div.sidebar-elem#sort button, div#sidebar div.sidebar-elem#filter button {
    display: block;
    margin: 15px auto;
    font-family: Montserrat;
    font-size: 20px;
    height: 36px;
    width: 40%;
    font-weight: bolder;
    background: antiquewhite;
    border: 2px solid rgb(25,13,5);
    border-radius: 5px;
}
div#sidebar div.sidebar-elem#sort button:hover, div#sidebar div.sidebar-elem#filter button:hover {
    cursor: pointer;
    background-color: #fae9c0;
}
div#sidebar div.sidebar-elem#sort input {
    padding-left: 20px;
}
div#sidebar div.sidebar-elem#filter ul {
    padding-left: 0;
    list-style: none;
}



div#albums-list {
    box-sizing: border-box;
    width: 70%;
    margin: 0 2.5%;
    float: left;
}

div#albums-list div.album {
    background-color: antiquewhite;
    box-shadow: 5px 5px 10px #000;
    box-sizing: border-box;
    width: 48%;
    height: 100%;
    float: left;
    margin: 15px 1%;
    border-radius: 10px;
    padding: 15px;
}
div#albums-list div.album img {
    width: 100%;
    height: 80%;
    box-shadow: 1px 1px 5px #000;
}
div#albums-list div.album a {
    color: #000;
}
div#albums-list div.album a:hover img {
    box-shadow: 1px 1px 10px #000;
}
div#albums-list div.album a:hover h3 {
    text-shadow: 1px 1px 10px #000;
}
div#albums-list div.album h3 {
    font-size: 1.5em;
    margin: .5em 0;
}
div#albums-list div.album p.album-artist {
    font-size: 1.25em;
    font-style: italic;
    margin: 0;
}
div#albums-list div.album p.album-price {
    text-align: right;
    margin: 0;
    font-size: 1.25em;
}
div#albums-list div.album p.album-price span.price {
    font-weight: 600;
}



div.album-pagination {
    clear: both;
    text-align: center;
}
div.album-pagination nav.album-pagination-list {
    box-sizing: border-box;
    width: 98%;
    margin: 0 1%;
    padding: 15px;
    background: antiquewhite;
    border-radius: 10px;
    font-size: 20px;
}
div.album-pagination nav.album-pagination-list a {
    padding: 5px;
    color: rgb(25,13,5);
    font-weight: 600;
}
div.album-pagination nav.album-pagination-list a.active {
    font-weight: 900;
}
div.album-pagination nav.album-pagination-list a:hover {
    text-shadow: 0px 0px 5px #000;
}


div#album-page {
    width: 100%;
    margin: 115px 0;
    box-sizing: border-box;
}
div#album-page div#album-image {
    width: 35%;
    margin: 0 1%;
    float: left;
}
div#album-page div#album-image img {
    width: 100%;
    box-shadow: 5px 5px 10px #000;
}
div#album-page div#album-info {
    width: 61%;
    margin: 0 1%;
    margin-bottom: 15px;
    border-radius: 10px;
    background: antiquewhite;
    box-shadow: 5px 5px 10px #000;
    padding: 15px 30px;
    box-sizing: border-box;
    float: left;
}
div#album-page div#album-info h1 {
    margin-bottom: 0;
}
div#album-page div#album-info h2 {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}
div#album-page div#album-info p.genres span.genre {
    color: antiquewhite;
    background: rgb(25,13,5);
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    line-height: 2;
}
div#album-page div#album-info p.duration {
    margin-top: 60px;
}
div#album-page div#album-info p.tracks {
    margin-bottom: .5em;
}
div#album-page div#album-info ol {
    margin-top: 0;
    font-style: italic;
    list-style: decimal-leading-zero;
}
div#album-page div#album-info p.price {
    font-size: 1.25em;
    margin-top: 50px;
}
div#album-page div#album-cart input {
    border: 2px solid rgb(25,13,5);
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 20px;
    height: 36px;
}
div#album-page div#album-cart button {
    font-family: Montserrat;
    font-size: 20px;
    height: 36px;
    padding: 0 15px;
    font-weight: bolder;
    background: antiquewhite;
    border: 2px solid rgb(25,13,5);
    border-radius: 5px;
}
div#album-page div#album-cart button:hover {
    cursor: pointer;
    background-color: #fae9c0;
}


div#login, div#signup {
    width: 60%;
    margin: 115px 20%;
    background: antiquewhite;
    padding: 30px;
    font-size: 1.5em;
    border-radius: 15px;
}
div#login form, div#signup form {
    padding: 30px;
    border: 4px solid rgb(25,13,5);
    border-radius: 10px;
}
div#signup form p span.helptext, div#signup form ul {
    display: block;
    font-size: .8em;
    font-style: italic;
    margin: .4em 0;
    color: gray;
}
div#signup form li {
    text-align: left;
}
div#login form button, div#signup form button {
    display: block;
    margin: auto;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bolder;
    height: 2em;
    background: antiquewhite;
    border: 3px solid rgb(25,13,5);
    border-radius: 5px;
    width: 10em;
}
div#login form button:hover, div#signup form button:hover {
    cursor: pointer;
    background-color: #fae9c0;
}
div#login-suggest-to-sign-up, div#signup-suggest-to-log-in {
    margin-top: 60px;
    text-align: center;
}


div#cart-page {
    width: 95%;
    margin: 115px 2.5%;
    background: antiquewhite;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #000;
    padding: 15px;
}
div#cart-page h1 {
    text-align: center;
}
div#cart-page table {
    font-size: 1.5em;
    width: 80%;
    margin: 0 10%;
    border: 3px solid rgb(25,13,5);
    border-radius: 10px;
    padding: 5px;
}
div#cart-page table tr {
    padding: 15px;
}
div#cart-page table td {
    padding: 5px;
}
div#cart-page table td.image {
    width: 10%;
}
div#cart-page table td.image img {
    width: 100px;
    height: 100px;
}
div#cart-page table td.album {
    width: 30%;
    font-weight: 600;
}
div#cart-page table td.album a {
    color: #000;
}
div#cart-page table td.artist {
    width: 20%;
    font-style: italic;
}
div#cart-page table td.price {
    width: 20%;
    text-align: right;
}
div#cart-page table td.quantity {
    width: 5%;
    text-align: center;
}
div#cart-page table td.remove {
    width: 15%;
}
div#cart-page table td.remove button {
    display: block;
    margin: 20px auto;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bolder;
    height: 40px;
    background: antiquewhite;
    border: 3px solid rgb(25,13,5);
    border-radius: 5px;
    width: 11em;
}
div#cart-page table td.remove button:hover {
    cursor: pointer;
    background-color: #fae9c0;
}
div#cart-page h2 {
    margin: 50px 0;
    font-size: 2em;
    font-weight: normal;
    padding-left: 10%;
}
div#cart-page button#order {
    display: block;
    margin: auto;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: bolder;
    height: 2em;
    width: 360px;
    background: antiquewhite;
    border: 5px solid rgb(25,13,5);
    border-radius: 5px;
}
div#cart-page button#order:hover {
    cursor: pointer;
    background-color: #fae9c0;
}


div#order-pay-page {
    width: 95%;
    margin: 115px 2.5%;
    background: antiquewhite;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #000;
    padding: 15px;
}
div#order-pay-page h1 {
    text-align: center;
}
div#order-pay-page button {
    display: block;
    margin: auto;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bolder;
    height: 2em;
    width: 240px;
    background: antiquewhite;
    border: 3px solid rgb(25,13,5);
    border-radius: 5px;
}
div#order-pay-page button:hover {
    cursor: pointer;
    background-color: #fae9c0;
}

div#order-success-pay-page {
    width: 95%;
    margin: 115px 2.5%;
    background: antiquewhite;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #000;
    padding: 15px;
}
div#order-success-pay-page h1 {
    text-align: center;
}
div#order-success-pay-page p {
    text-align: center;
    font-size: 1.5em;
}
div#order-success-pay-page img {
    display: block;
    margin: auto;
}
div#order-success-pay-page a {
    display: block;
    margin: 15px 0;
    color: #000;
    text-decoration: none;
}
div#order-success-pay-page button {
    display: block;
    margin: auto;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bolder;
    height: 2em;
    width: 360px;
    background: antiquewhite;
    border: 3px solid rgb(25,13,5);
    border-radius: 5px;
}
div#order-success-pay-page button:hover {
    cursor: pointer;
    background-color: #fae9c0;
}

div#banned-page {
    width: 95%;
    margin: 115px 2.5%;
    background: antiquewhite;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #000;
    padding: 15px;
}
div#banned-page h1 {
    text-align: center;
}
div#banned-page img {
    display: block;
    margin: auto;
    height: 300px;
}



div#admin-panel-main-page {
    width: 95%;
    margin: 115px 2.5%;
    background: antiquewhite;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #000;
    padding: 15px;
    height: 80%;
}
div#admin-panel-main-page h1 {
    text-align: center;
}
div#admin-panel-main-page img {
    display: block;
    margin: auto;
}
div#admin-panel-main-page a {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 16.66%;
    margin: 60px 0;
    color: #000;
}
div#admin-panel-main-page a button {
    display: block;
    width: 80%;
    margin: auto;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bolder;
    height: 4em;
    background: antiquewhite;
    border: 3px solid rgb(25,13,5);
    border-radius: 5px;
}
div#admin-panel-main-page a button:hover {
    cursor: pointer;
    background-color: #fae9c0;
}

div#confirmed-orders-page {
    width: 95%;
    margin: 115px 2.5%;
    background: antiquewhite;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #000;
    padding: 15px;
}
div#confirmed-orders-page h1 {
    text-align: center;
}
div#confirmed-orders-page table {
    font-size: 1.2em;
    width: 95%;
    margin: 0 2.5%;
    border: 3px solid rgb(25,13,5);
    border-radius: 10px;
    padding: 5px;
}
div#confirmed-orders-page table tr {
    padding: 15px;
}
div#confirmed-orders-page table td {
    vertical-align: top;
    padding: 10px;
}
div#confirmed-orders-page table td.username {
    width: 10%;
}
div#confirmed-orders-page table td.total-price {
    text-align: right;
    width: 15%;
}
div#confirmed-orders-page table td.albums {
    width: 55%;
}
div#confirmed-orders-page table td.datetime {
    width: 20%;
}

div#unconfirmed-orders-page {
    width: 95%;
    margin: 115px 2.5%;
    background: antiquewhite;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #000;
    padding: 15px;
}
div#unconfirmed-orders-page h1 {
    text-align: center;
}
div#unconfirmed-orders-page table {
    font-size: 1.2em;
    width: 95%;
    margin: 0 2.5%;
    border: 3px solid rgb(25,13,5);
    border-radius: 10px;
    padding: 5px;
}
div#unconfirmed-orders-page table tr {
    padding: 15px;
}
div#unconfirmed-orders-page table td {
    vertical-align: top;
    padding: 10px;
}
div#unconfirmed-orders-page table td.confirm, div#unconfirmed-orders-page table td.discard, div#unconfirmed-orders-page table td.ban {
    width: 10%;
}
div#unconfirmed-orders-page table td.confirm button, div#unconfirmed-orders-page table td.discard button, div#unconfirmed-orders-page table td.ban button {
    display: block;
    margin: auto;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bolder;
    height: 2em;
    width: 10em;
    background: antiquewhite;
    border: 3px solid rgb(25,13,5);
    border-radius: 5px;
}
div#unconfirmed-orders-page table td.confirm button:enabled:hover, div#unconfirmed-orders-page table td.discard button:enabled:hover, div#unconfirmed-orders-page table td.ban button:enabled:hover {
    cursor: pointer;
    background-color: #fae9c0;
}



div#blacklist-page {
    width: 95%;
    margin: 115px 2.5%;
    background: antiquewhite;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #000;
    padding: 15px;
}
div#blacklist-page h1 {
    text-align: center;
}
div#blacklist-page table {
    font-size: 1.5em;
    width: 60%;
    margin: 0 20%;
    border: 3px solid rgb(25,13,5);
    border-radius: 10px;
    padding: 15px;
}
div#blacklist-page table td {
    padding: 10px;
}
div#blacklist-page table td.user {
    vertical-align: top;
    width: 60%;
}
div#blacklist-page table td.unban {
    width: 40%;
}
div#blacklist-page table td.unban button {
    display: block;
    margin: auto;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bolder;
    height: 2em;
    width: 240px;
    background: antiquewhite;
    border: 3px solid rgb(25,13,5);
    border-radius: 5px;
}
div#blacklist-page table td.unban button:hover {
    cursor: pointer;
    background-color: #fae9c0;
}


div#albums-page {
    width: 95%;
    margin: 115px 2.5%;
    background: antiquewhite;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #000;
    padding: 15px;
}
div#albums-page h1 {
    text-align: center;
}
div#albums-page form {
    width: 50%;
    margin: auto;
}
div#albums-page form input {
    border: 2px solid rgb(25,13,5);
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 20px;
    height: 36px;
    width: 60%;
}
div#albums-page form button {
    float: right;
    font-family: Montserrat;
    font-size: 20px;
    height: 36px;
    width: 35%;
    font-weight: bolder;
    background: antiquewhite;
    border: 2px solid rgb(25,13,5);
    border-radius: 5px;
}
div#albums-page form button:hover {
    cursor: pointer;
    background-color: #fae9c0;
}

div#albums-page>a {
    text-decoration: none;
}
div#albums-page a button#create-album {
    display: block;
    font-family: Montserrat;
    font-size: 24px;
    height: 48px;
    width: 30%;
    margin: 30px auto;
    font-weight: bolder;
    background: antiquewhite;
    border: 2px solid rgb(25,13,5);
    border-radius: 5px;
}
div#albums-page a button#create-album:hover {
    cursor: pointer;
    background-color: #fae9c0;
}
div#albums-page table {
    border: 3px solid rgb(25,13,5);
    border-radius: 10px;
    padding: 15px;
}
div#albums-page table td, th {
    text-align: left;
    padding: 5px;
    vertical-align: top;
}
div#albums-page table td.title {
    width: 15%;
}
div#albums-page table td.title a {
    color: #000;
}
div#albums-page table td.artist {
    width: 10%;
}
div#albums-page table td.image img {
    height: 100px;
}
div#albums-page table td.release-date {
    width: 5%;
}
div#albums-page table td.duration {
    width: 5%;
}
div#albums-page table td.tracks {
    width: 15%;
}
div#albums-page table td.genres {
    width: 15%;
}
div#albums-page table td.price {
    width: 10%;
}
div#albums-page table td.update-btn, div#albums-page table td.delete-btn {
    width: 10%;
}
div#albums-page table td.update-btn a, div#albums-page table td.delete-btn a {
    display: block;
    width: 100%;
    color: #000;
    text-decoration: none;
}
div#albums-page table td.update-btn a button, div#albums-page table td.delete-btn a button {
    display: block;
    width: 100%;
    font-family: Montserrat;
    font-size: 16px;
    height: 32px;
    font-weight: bolder;
    background: antiquewhite;
    border: 2px solid rgb(25,13,5);
    border-radius: 5px;
}
div#albums-page table td.update-btn a button:hover, div#albums-page table td.delete-btn a button:hover {
    cursor: pointer;
    background-color: #fae9c0;
}

div#album-create-page {
    width: 95%;
    margin: 115px 2.5%;
    background: antiquewhite;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #000;
    padding: 15px;
}
div#album-create-page h1 {
    text-align: center;
}
div#album-create-page button {
    display: block;
    margin: 30px auto;
    width: 30%;
    font-family: Montserrat;
    font-size: 24px;
    height: 48px;
    font-weight: bolder;
    background: antiquewhite;
    border: 2px solid rgb(25,13,5);
    border-radius: 5px;
}
div#album-create-page button:hover {
    cursor: pointer;
    background-color: #fae9c0;
}

div#album-delete-page {
    width: 95%;
    margin: 115px 2.5%;
    background: antiquewhite;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #000;
    padding: 15px;
}
div#album-delete-page h1 {
    text-align: center;
}
div#album-delete-page button {
    display: block;
    margin: 30px auto;
    width: 30%;
    font-family: Montserrat;
    font-size: 24px;
    height: 48px;
    font-weight: bolder;
    background: antiquewhite;
    border: 2px solid rgb(25,13,5);
    border-radius: 5px;
}
div#album-delete-page button:hover {
    cursor: pointer;
    background-color: #fae9c0;
}


div#album-update-page {
    width: 95%;
    margin: 115px 2.5%;
    background: antiquewhite;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #000;
    padding: 15px;
}
div#album-update-page h1 {
    text-align: center;
}
div#album-update-page button {
    display: block;
    margin: 30px auto;
    width: 30%;
    font-family: Montserrat;
    font-size: 24px;
    height: 48px;
    font-weight: bolder;
    background: antiquewhite;
    border: 2px solid rgb(25,13,5);
    border-radius: 5px;
}
div#album-update-page button:hover {
    cursor: pointer;
    background-color: #fae9c0;
}