{% load static %}
<header>
  <a href="{% url 'albums:albums-list' %}">
    <div id="logo">
      Vinyl Store
    </div>
  </a>

  {% if not request.user.is_authenticated %}
  <div id="signup">
    <a href="{% url 'signup' %}">Signup</a>
  </div>
  {% endif %}

  {% if not request.user.is_authenticated %}
  <div id="login">
    <a href="{% url 'login' %}">
      Login
    </a>
  </div>
  {% endif %}

  {% if request.user.is_authenticated %}
  <div id="logged">
    <p>Logged in as: {{ request.user.username }}</p>
    <a href="{% url 'logout' %}" style="text-decoration: underline;">
      Logout
    </a>
  </div>
  {% endif %}

  {% if request.user.is_authenticated %}
  <a href="{% url 'orders:cart' %}">
    <div id="cart">
      <img src="../../../static/images/cart.png" alt="cart.png">
      Cart
    </div>
  </a>
  {% endif %}

  {% if request.user.is_staff %}
  <a href="{% url 'admin-panel:main-page' %}">
    <div id="admin-panel">
      Admin panel
    </div>
  </a>
  {% endif %}
  
</header>